<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Person Add</span>
  <div class="spacer"></div>
</div>

<div class="caja1">
  <form id="formulario" [formGroup]="miFormulario">
    <h3>Crear Persona</h3>

    <div>
      <label>User</label>
      <input placeholder="User" type="text" name="user" id="user" formControlName = "user">


      <br>

      <label>Surname</label>
      <input placeholder="Surname" type="text" id="surname" name="surname" formControlName = "surname">

      <br>

      <label>Password</label>
      <input placeholder="Password" type="password" id="pass" name="pass" formControlName = "password">

      <br>

      <label>Company email</label>
      <input placeholder="Company email" type="email" id="ce" name="ce" formControlName = "ce">

      <br>

      <label>Personal email</label>
      <input placeholder="Personal email" type="email" id="pe" name="pe" formControlName = "pe">

      <br>

      <label>City</label>
      <input placeholder="City" type="text" id="city" name="city" formControlName = "city">

      <br>

      <label>Active?</label>
      <input placeholder="Active" type="checkbox" id="active" name="active" formControlName = "active">

      <br>
      <br>

      <label>Imagen URL</label>
      <input type="url" id="url" name="imagen" formControlName = "url">

      <br>

      <label>Created date</label>
      <input style="margin-top: 10px; border-radius: 10px; padding: 5px; border: 1px;" type="datetime" id="tdate" name="cdate" formControlName = "cd">

      <br>

      <label>Termination date</label>
      <input style="margin-top: 10px; border-radius: 10px; padding: 5px; border: 1px;" type="datetime" id="tdate" name="tdate" formControlName = "td">


    </div>

    <button (click)="crearPersona()" id="boton-enviar">Crear Persona</button>
    <button [routerLink]="['/person']" type="submit" id="boton-cancelar">Cancelar</button>
  </form>
</div>
<app-footer></app-footer>