<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="headerMenu">Navegación</p>


    <div class="vertical-menu">
      <ul style="list-style-type: none; margin-left: -40px;">
        <li><a class="home" [routerLink]="['']">Inicio</a></li>
        <li><a class="active" id="person">Gestionar Personas</a></li>
        <li><a class="student" [routerLink]="['/student']">Gestionar Estudiantes</a></li>
      </ul>
    </div>

  </mat-drawer>

  <div class="contenido">

    <div class="toolbar" role="banner">
      <img id="iconoMenu" width="30"src="https://image.flaticon.com/icons/png/512/545/545705.png" (click)="drawer.toggle()" />
      <span>Person Management</span>
      <div class="spacer"></div>
      <app-notificaciones style="margin-right: 50px;"></app-notificaciones>
    </div>

    <h2 class="tituloAdd">Administración de Personas</h2>
    <button [routerLink]="['../personadd']" class="AddButton">Añadir Persona</button>
    <app-personlist></app-personlist>
    <app-footer></app-footer>
  </div>

  
</mat-drawer-container>
 


  