<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Person Update</span>
    <div class="spacer"></div>
</div>
<button [routerLink]="['/person']" type="submit" id="boton-cancelar">Cancelar</button>
<div class="flex-container1" >
    <form id="formulario" style="max-height: 300px;">
        <h3>Persona Actual</h3>
        <p>Aquí se visualizan los datos <strong>actuales</strong> de la persona.</p>

        <div>
            <label>ID Persona</label><label id="user" style="color: #0d24ee;">{{id}}</label>
            <br>
            <label>User</label><label id="user" style="color: #0d24ee;">{{user}}</label>
            <br>
            <label>Surname</label><label id="surname" style="color: #0d24ee;">{{surname}}</label>
            <br>
            <label>Password</label><label id="password" style="color: #0d24ee;">{{pass}}</label>
            <br>
            <label>Company email</label><label id="ce" style="color: #0d24ee;">{{ce}}</label>
            <br>
            <label>Personal email</label><label id="pe" style="color: #0d24ee;">{{pe}}</label>
            <br>
            <label>City</label><label id="city" style="color: #0d24ee;">{{city}}</label>
            <br>
            <label>Active?</label><label id="active" style="color: #0d24ee#0d24ee;">{{active}}</label>
            <br>
            <label>Imagen URL</label><label id="url" style="color: #0d24ee;">{{url}}</label>
            <br>
            <label>Created date</label><label id="cdate" style="color: #0d24ee;">{{cd}}</label>
            <br>
            <label>Termination date</label><label id="tdate" style="color: #0d24ee;">{{td}}</label>
        </div>
    </form>

    <div id="formulario" [formGroup]="miFormulario">
        <h3>Intorucir nuevos datos</h3>
        <p>Introduzca aquí los nuevos datos para actualizarlos.</p>

        <div>
            <label>User</label>
            <input placeholder="User" type="text" name="user" id="user" formControlName = "user">
      
      
            <br>
      
            <label>Surname</label>
            <input placeholder="Surname" type="text" id="surname" name="surname" formControlName = "surname">
      
            <br>
      
            <label>Password</label>
            <input placeholder="Password" type="password" id="pass" name="pass" formControlName = "password">
      
            <br>
      
            <label>Company email</label>
            <input placeholder="Company email" type="email" id="ce" name="ce" formControlName = "ce">
      
            <br>
      
            <label>Personal email</label>
            <input placeholder="Personal email" type="email" id="pe" name="pe" formControlName = "pe">
      
            <br>
      
            <label>City</label>
            <input placeholder="City" type="text" id="city" name="city" formControlName = "city">
      
            <br>
      
            <label>Active?</label>
            <input placeholder="Active" type="checkbox" id="active" name="active" formControlName = "active">
      
            <br>
            <br>
      
            <label>Imagen URL</label>
            <input type="url" id="url" name="imagen" formControlName = "url">
      
            <br>
      
            <label>Created date</label>
            <input style="border-radius: 10px; padding: 5px; border: 1px;" type="datetime" id="tdate" name="cdate" formControlName = "cd">
      
            <br>
      
            <label>Termination date</label>
            <input style="margin-top: 10px; border-radius: 10px; padding: 5px; border: 1px;" type="datetime" id="tdate" name="tdate" formControlName = "td">
      
      
          </div>
      
        <button type="submit" [disabled]="miFormulario.invalid" id="boton-actualizar" (click)="actualizar()">Actualizar datos</button>

      </div>
</div>
<app-footer></app-footer>