<mat-drawer-container class="menu-container" autosize autoFocus>

  <div class="contenido">
    <div class="toolbar" role="banner">
      <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
      <span>Inicio</span>
      <div class="spacer"></div>
      <app-notificaciones (click)="drawerNotificaciones.toggle()"  (click)="drawer.close()" style="margin-right: 50px;"></app-notificaciones>
    </div>

    <div class="tarjetaOpciones">
      <h2 class="tituloAdd">¡Bienvenido!</h2>
      <p style="margin-bottom: 10px; font-size: medium;">Esta aplicación está creada con Angular.</p>
      <img width="70" alt="Angular Logo" t
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
      <p style="margin-bottom: 10px; margin-top: 10px;">¡Comencemos!</p>
      <button type="button" class="AddButton" mat-button (click)="drawer.toggle()" (click)="drawerNotificaciones.close()">Administrar</button>
    </div>
    
  </div>


  <!--Esto es el efecto de las olas-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(25,118,210,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(25,118,210,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(25,118,210,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#1976d2" />
      </g>
    </svg>
  </div>
  <!--Esto es el efecto de las olas-->

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="headerMenu">Navegación</p>
  
    <div class="vertical-menu">
      <ul style="list-style-type: none; margin-left: -40px;">
        <li><a class="active" id="home">Inicio</a></li>
        <li><a class="person" [routerLink]="['person']" >Gestionar Personas</a></li>
        <li><a class="student" [routerLink]="['student']">Gestionar Estudiantes</a></li>
      </ul>
    </div>
  
  </mat-drawer>

  <mat-drawer #drawerNotificaciones class="example-sidenav" mode="side" style="text-align: center; padding: 20px;">
    <div>
      <img src="https://image.flaticon.com/icons/png/512/2645/2645883.png" width="50px" height="50px" style="margin-top: 20px;"/>
      <p class="headerMenu" style="padding-inline: 30px;">Notificaciones</p>
  
      <div>
        <div *ngFor="let notificacion of notificaciones">
            
            <app-notification-card class="{{notificacion.tipo}}" (delete)=BorrarNotificaion(notificacion) [notificacion]="notificacion" style="margin-top:10px;"></app-notification-card>
    
        </div>

      </div>
    </div>
    
    <div class="MatButtonDrawer">
      <button mat-stroked-button color="primary" (click)="borrarTodasNotificaciones()">Limpiar todo</button><br>
      <button mat-stroked-button color="primary" (click)="drawerNotificaciones.close()">Cerrar</button>
    </div>

  </mat-drawer>

  <app-footer></app-footer>
</mat-drawer-container>

