:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contenido {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.menu-container {
  width: 100%;
  height: 100%;
  background-image: url(\src\assets\images\bg1.jpg);
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#home::before{
  content: url(src\assets\images\home.png);
  margin-right: 10px;
}

.person::before{
  content: url(src\assets\images\man2.png);
  margin-right: 10px;
}

.student::before{
  content: url(src\assets\images\graduated.png);
  margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}


.AddButton{
  position: relative;
  background-color:#1976d2;
  border: 0px;
  color: white;
  border-radius: 10px;
}



.AddButton:hover {
  background: #437ea0;
}

button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.headerMenu{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.vertical-menu {
  width: 100%; 
}

.vertical-menu a {
  background-color: white; 
  color: #333;
  display: flex;
  font-size: medium;
  padding: 12px;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc; 
}

.vertical-menu a.active {
  background-color: #1976d2; 
  color: white;
}

.tarjetaOpciones{
  background-color: white;
  border-radius: 50px;
  padding: 25px;
  box-shadow: 2px 2px 10px black;
  text-align: center;
  color: #000;
}

/*Esto es el efecto de las olas*/
.waves {
  position:relative;
  width: 100%;
  height:20%;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:280px;
  color: teal;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
  /*Esto es el efecto de las olas*/

  .MatButtonDrawer{
    width: 300px;
    bottom: 20px;
    position: absolute;
  }

  .MatButtonDrawer button{
    width: 100%;
    margin-top: 10px;
  }