<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="headerMenu">Navegación</p>


    <div class="vertical-menu">
      <ul style="list-style-type: none; margin-left: -40px;">
        <li><a [routerLink]="['']">Inicio</a></li>
        <li><a [routerLink]="['/person']">Gestionar Personas</a></li>
        <li><a class="active">Gestionar Estudiantes</a></li>
      </ul>
    </div>

  </mat-drawer>


  <div class="contenido">

    <div class="toolbar" role="banner">
      <img width="30"src="https://image.flaticon.com/icons/png/512/545/545705.png" (click)="drawer.toggle()" />
      <span>Student Management</span>
      <div class="spacer"></div>
      <app-notificaciones style="margin-right: 50px;"></app-notificaciones>
    </div>

    <h2 class="tituloAdd">Administración de Estudiantes</h2>
    <button (click)="openDialog()" class="AddButton">Añadir Estudiante</button>
    <app-student-list></app-student-list>
  </div>

</mat-drawer-container>