<div>
    <form id="formulario" style="max-height: 360px;">
        <div>
            <label>ID Persona</label><label id="user" style="color: rgb(16, 206, 16);"></label>
            <br>
            <label>User</label><label id="user" style="color: rgb(16, 206, 16);">{{user}}</label>
            <br>
            <label>Surname</label><label id="surname" style="color: rgb(16, 206, 16);">{{surname}}</label>
            <br>
            <label>Password</label><label id="password" style="color: rgb(16, 206, 16);">{{pass}}</label>
            <br>
            <label>Company email</label><label id="ce" style="color: rgb(16, 206, 16);">{{ce}}</label>
            <br>
            <label>Personal email</label><label id="pe" style="color: rgb(16, 206, 16);">{{pe}}</label>
            <br>
            <label>City</label><label id="city" style="color: rgb(16, 206, 16);">{{city}}</label>
            <br>
            <label>Active?</label><label id="active" style="color: rgb(16, 206, 16);">{{active}}</label>
            <br>
            <label>Imagen URL</label><label id="url" style="color: rgb(16, 206, 16);">{{url}}</label>
            <br>
            <label>Created date</label><label id="cdate" style="color: rgb(16, 206, 16);">{{cd}}</label>
            <br>
            <label>Termination date</label><label id="tdate" style="color: rgb(16, 206, 16);">{{td}}</label>

            <button type="submit" style="background-color: brown;">Borrar</button>
            <button type="submit">Editar</button>
            
        </div>
            
    </form>
    
</div>