<div>
    <div id="formulario" style="max-height: 360px;">
        
        <img src={{persona.imagen_url}} class="imagen-perfil">
        <div>
            
            <br>
            <label>ID Persona</label><label id="user" style="color: #0d24ee;">{{persona.id_persona}}</label>
            <br>
            <label>User</label><label id="user" style="color: #0d24ee;">{{persona.user}}</label>
            <br>
            <label>Surname</label><label id="surname" style="color: #0d24ee;">{{persona.surname}}</label>
            <br>
            <label>Password</label><label id="password" style="color: #0d24ee;">{{persona.password}}</label>
            <br>
            <label>Company email</label><label id="ce" style="color: #0d24ee;">{{persona.company_email}}</label>
            <br>
            <label>Personal email</label><label id="pe" style="color: #0d24ee;">{{persona.personal_email}}</label>
            <br>
            <label>City</label><label id="city" style="color: #0d24ee;">{{persona.city}}</label>
            <br>
            <label>Active?</label><label id="active" style="color: #0d24ee;">{{persona.active}}</label>
            <br>
            <label>Imagen URL</label><label id="url" style="color: #0d24ee;">{{persona.imagen_url}}</label>
            <br>
            <label>Created date</label><label id="cdate" style="color:#0d24ee;">{{persona.created_date}}</label>
            <br>
            <label>Termination date</label><label id="tdate" style="color:#0d24ee;">{{persona.termination_date}}</label>

            <button type="submit" (click)= "delete.emit(persona)" style="background-color: brown;">Borrar</button>
            <button type="submit" (click)= "edit.emit(persona)">Editar</button>
            
        </div>
            
    </div>
    
</div>